html, body {
  margin  : 0;
  padding : 0;
  height  : 100%;
}
td {
  vertical-align : top;
  padding-left: .5em;
  padding-right: .5em;
  border-bottom: solid 2px #262b30;
}
th {
  background    : #373c41;
  white-space   : nowrap;
  font-weight   : normal;
  padding-left  : .5em;
  padding-right : .5em;
  border-bottom: solid 2px #262b30;
}
kbd {
  background  : #fff;
  background  : transparent;
  border      : 0px;
  box-shadow  : none;
  color       : #000;
  color       : #fff;
  font-weight : bold;
  font-weight : normal;
}
code {
  background : #5a5e63;
  color: #fff;
}
h1 {
  font-size: 4em;
  font-family : 'Crimson Text', serif;
  color : #f7fe00;
  color : #c415ff;
  color : #2a97ff;
  color : #ffb101;
  margin-bottom: 0px;
  margin-top: 20px;
}
h2 {
  font-family : 'Crimson Text', serif;
}
.editor {
  margin-bottom: 10px;
  margin-top: 0px;
  color : orangered;
}
#everything {
  min-height : 100%;
  position   : relative;
}
#main {
  padding        : 10px;
  padding-bottom : 120px;
}
.flattr {
  float: right;
}
#footer {
  position   : absolute;
  bottom     : 0;
  width      : 100%;
  height     : 70px;
  background : #5a5e63;
  padding    : 1em;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}
